{# {% extends 'pages/datable.html.twig' %} #}
{% extends '@!EasyAdmin/crud/index.html.twig' %}

{# Ajoutez votre contenu personnalisé ici #}

{# {% block content_title %}Liste des entreprises{% endblock %} #}
{% block content %}

<head>
    {# <link href="{{ asset('assets/dist/css/app.css') }}" rel="stylesheet"> #}
	  {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        #}
	
</head>


  <main class="content pt-4">
				<div class="container-fluid p-0">

					<div class="mb-3">
						<h1 class="h3 d-inline align-middle">B - Integral</h1><a class="badge bg-primary ms-2" href=""
							target="_blank">Pro Component <i class="fas fa-fw fa-external-link-alt"></i></a>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">DataTables with Column Search by Text Inputs</h5>
									<h6 class="card-subtitle text-muted">The searching functionality provided by DataTables is useful for quickly search through
										the information in the table. See official documentation <a href="" target="_blank" rel="noopener noreferrer nofollow">here</a>.</h6>
								</div>
								<div class="card-body">
									<table id="datatables-column-search-text-inputs" class="table table-striped" style="width:100%">
										<tbody>
  											{{ parent() }}
										</tbody>

									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
           <script src="{{asset('assets/dist/js/app.js')}}"></script>
{% endblock %}
